<!DOCTYPE html>
<html>
<head>
  <title>Algorithms</title>
  <%= stylesheet_link_tag    "algorithms/application", media: "all" %>
  <%= javascript_include_tag "algorithms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
